{% load static %}
<section class="about-us">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 left-side" data-stellar-background-ratio="0.5"
             style="background-position: 0% 0%;"></div>
        <!-- end col-6 -->
        <div class="col-md-6 right-side">
            <div class="table wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <div class="inner">
                    <h3><span> YELLOW </span> DIGITAL AGENCY</h3>

                    <p>Каждый день всё больше людей уходят в “онлайн” за всем необходимым им для жизни. Интерактивные цифровые технологии становятся всё более удивительными и сложными, требуя уникальности, проработки пользовательских сценариев и технических инноваций.
                    </p>

                    <p>Стратеги, аналитики, бренд-менеджеры, UI/UX-дизайнеры, технологи и веб-разработчики - работающие совместно специалисты гибких команд,
                        призванных сделать ваш бизнес и бренд сильнее - это Y.Da.</p>
{#                    <a href="#">READ MORE</a>#}
                </div>
                <!-- end inner -->
            </div>
            <!-- end table -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
    </section>