{% load static %}
<footer>
<div class="container wow fadeInUp" style="visibility: hidden; animation-name: none;">
    <div class="row">
        <div class="col-md-4"><img src="{% static "DigitalAgency/image/logo-light.png" %}" alt="Image"
                                   class="logo">

            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur.</p>

            <p>Magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem ipsum
                quia.</p>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4">
            <h4>PHOTO GALLERY</h4>
            <ul class="gallery">
                <li>
                    <figure><img src="{% static "DigitalAgency/image/gallery1.jpg" %}" alt="Image">
                        <figcaption><a href="{% static "DigitalAgency/image/gallery1.jpg" %}"
                                       class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="{% static "DigitalAgency/image/gallery2.jpg" %}" alt="Image">
                        <figcaption><a href="{% static "DigitalAgency/image/gallery2.jpg" %}"
                                       class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="{% static "DigitalAgency/image/gallery3.jpg" %}" alt="Image">
                        <figcaption><a href="{% static "DigitalAgency/image/gallery3.jpg" %}"
                                       class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="{% static "DigitalAgency/image/gallery4.jpg" %}" alt="Image">
                        <figcaption><a href="{% static "DigitalAgency/image/gallery4.jpg" %}"
                                       class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="{% static "DigitalAgency/image/gallery5.jpg" %}" alt="Image">
                        <figcaption><a href="{% static "DigitalAgency/image/gallery5.jpg" %}"
                                       class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure><img src="{% static "DigitalAgency/image/gallery6.jpg" %}" alt="Image">
                        <figcaption><a href="{% static "DigitalAgency/image/gallery6.jpg" %}"
                                       class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                    </figure>
                </li>
            </ul>
            <!-- end gallery -->
        </div>
        <!-- end col-4 -->
        <div class="col-md-4">
            <h4>NEWSLETTER</h4>

            <p>You will be among the first to know about hot new software and great deals on stuff to enhance and
                promote</p>

            <form>
                <input type="text" placeholder="Your e-mail">
                <button type="submit">SUBSCRIBE</button>
            </form>
            <small>* I promise, we won’t spam you!</small>
        </div>
        <!-- end col-4 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</footer>