{% load static %}
<section class="fun-facts wow fadeInUp" style="visibility: hidden; animation-name: none;">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="content-box"><i class="ion-ios-albums-outline"></i> <span class="counter">358</span>
                <h5>.projects completed</h5>
            </div>
            <!-- end content-box -->
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
            <div class="content-box"><i class="ion-ios-pulse"></i> <span class="counter">269</span>
                <h5>.concept created</h5>
            </div>
            <!-- end content-box -->
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
            <div class="content-box"><i class="ion-ios-monitor-outline"></i> <span class="counter">157</span>
                <h5>.happy clients</h5>
            </div>
            <!-- end content-box -->
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
            <div class="content-box"><i class="ion-ios-flask-outline"></i> <span class="counter">23</span>
                <h5>.awards winning</h5>
            </div>
            <!-- end content-box -->
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</section>