{% load static %}
<section class="contact">
<div class="container wow fadeInUp" style="visibility: hidden; animation-name: none;">
    <div class="row">
        <div class="col-xs-12">
            <h2>CONTACT</h2>
        </div>
        <!-- end col-12 -->
        <div class="col-md-3">
            <figure><img src="{% static "DigitalAgency/image/icon5.png" %}" alt="Image"></figure>
            <dl>
                <dt>LOCATION</dt>
                <dd>Ring Central Plot C: 796 A/3 Mango Avenue, Chicago</dd>
            </dl>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
            <figure><img src="{% static "DigitalAgency/image/icon6.png" %}" alt="Image"></figure>
            <dl>
                <dt>PHONE</dt>
                <dd>+1 (312)/ 564-0034</dd>
                <dd>+1 (312)/ 988-5738</dd>
            </dl>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
            <figure><img src="{% static "DigitalAgency/image/icon7.png" %}" alt="Image"></figure>
            <dl>
                <dt>E-MAIL</dt>
                <dd>support@sreative.com</dd>
                <dd>sales@ [at] sreative.com</dd>
            </dl>
        </div>
        <!-- end col-3 -->
        <div class="col-md-3">
            <figure><img src="{% static "DigitalAgency/image/icon8.png" %}" alt="Image"></figure>
            <dl>
                <dt>Working hours</dt>
                <dd>Mon-Fri 9.00am - 4.00p
                </dd>
                <dd>Sat 12.00 - 5.00pm</dd>
            </dl>
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
    </section>