{% load static %}
<header class = "main__header" style = "
background-image: url({% static "DigitalAgency/image/main_picture.png"%});
background-size: cover;
 ">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#"><img
                    src="{% static "DigitalAgency/image/logo-light.png" %}" alt="Image"></a></div>
        <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left"
             id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href = "#">+7 (123) 193 29 47</a></li>
                <li><a href="#" class="hamburger-menu"><i class="ion-paper-airplane"></i></a></li>
            </ul>
        </div>
        <!-- end navbar-collapse -->
    </div>
    <!-- end container -->
</nav>
        <!-- end nav -->
        <div class="stage">
        <!-- СЮДА НАДО ВХУЯРИТЬ КЛЕВУЮ АНИМАШКУ --!>
        <!-- end slide-content -->
    </div>

    <!-- end stage -->
</header>