{% load static %}
<section class="latest-news wow fadeInUp" style="visibility: hidden; animation-name: none;">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>LATEST <span>NEWS</span></h3>
        </div>
        <!-- end col-12 -->
        <div class="col-md-6">
            <div class="news-box">
                <figure><img src="{% static "DigitalAgency/image/image2.jpg" %}" alt="Image"></figure>
                <h4>How to Choose the Right Digital Camera for You!</h4>
                <small>Photography, Design, Tutorials</small>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem
                    ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                <a href="http://themezinho.net/sreative/index-text.html#" class="link">READ MORE</a></div>
            <!-- end news-box -->
        </div>
        <!-- end col-6 -->
        <div class="col-md-6">
            <div class="news-box">
                <figure><img src="{% static "DigitalAgency/image/image3.jpg" %}" alt="Image"></figure>
                <h4>How to Choose the Right Digital Camera for You!</h4>
                <small>Photography, Design, Tutorials</small>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem
                    ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                <a href="http://themezinho.net/sreative/index-text.html#" class="link">READ MORE</a></div>
            <!-- end news-box -->
        </div>
        <!-- end col-6 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
    </section>