{% load static %}
<section class="latest-works">
<div class="container">
    <div class="row">
        <div class="col-xs-12 wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <h3>LATEST <span>WORKS</span></h3>

            <div class="works-filter"><a href="http://themezinho.net/sreative/index-text.html#" data-filter="*"
                                         class="current">ALL<span></span></a> <a
                    href="http://themezinho.net/sreative/index-text.html#" data-filter=".branding">BRANDING
                PRINT</a> <a href="http://themezinho.net/sreative/index-text.html#" data-filter=".digital">DIGITAL
                PRODUCTS</a> <a href="http://themezinho.net/sreative/index-text.html#" data-filter=".video">VIDEO
                ANIMATIONS</a></div>
            <!-- end works-filter -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
<ul class="wow fadeInUp" style="position: relative; height: 455.594px; visibility: hidden; animation-name: none;">
    <li class="video" style="position: absolute; left: 0px; top: 0px;">
        <figure><img src="{% static "DigitalAgency/image/work1.jpg" %}" alt="Image">
            <figcaption>
                <div class="table">
                    <div class="inner">
                        <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">MARINE
                            HABOUR</a></h4>
                        <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                    </div>
                </div>
            </figcaption>
        </figure>
    </li>
    <!-- end work -->
    <li class="digital" style="position: absolute; left: 404px; top: 0px;">
        <figure><img src="{% static "DigitalAgency/image/work2.jpg" %}" alt="Image">
            <figcaption>
                <div class="table">
                    <div class="inner">
                        <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">CUBE
                            CITY</a></h4>
                        <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                    </div>
                </div>
            </figcaption>
        </figure>
    </li>
    <!-- end work -->
    <li class="branding" style="position: absolute; left: 809px; top: 0px;">
        <figure><img src="{% static "DigitalAgency/image/work3.jpg" %}" alt="Image">
            <figcaption>
                <div class="table">
                    <div class="inner">
                        <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">WORLD
                            CAKE</a></h4>
                        <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                    </div>
                </div>
            </figcaption>
        </figure>
    </li>
    <!-- end work -->
    <li class="digial branding video" style="position: absolute; left: 0px; top: 227px;">
        <figure><img src="{% static "DigitalAgency/image/work4.jpg" %}" alt="Image">
            <figcaption>
                <div class="table">
                    <div class="inner">
                        <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">PAINT
                            BRUSH</a></h4>
                        <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                    </div>
                </div>
            </figcaption>
        </figure>
    </li>
    <!-- end work -->
    <li class="video" style="position: absolute; left: 404px; top: 227px;">
        <figure><img src="{% static "DigitalAgency/image/work5.jpg" %}" alt="Image">
            <figcaption>
                <div class="table">
                    <div class="inner">
                        <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">YUMMMY</a>
                        </h4>
                        <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                    </div>
                </div>
            </figcaption>
        </figure>
    </li>
    <!-- end work -->
    <li class="branding digital" style="position: absolute; left: 809px; top: 227px;">
        <figure><img src="{% static "DigitalAgency/image/work6.jpg" %}" alt="Image">
            <figcaption>
                <div class="table">
                    <div class="inner">
                        <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">GOAL
                            LEGO</a></h4>
                        <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                    </div>
                </div>
            </figcaption>
        </figure>
    </li>
    <!-- end work -->
</ul>
    </section>