{% load static %}
<section class="logos wow fadeInUp" style="visibility: hidden; animation-name: none;">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>LOGOS</h2>

            <div class="logos-carousel owl-carousel owl-theme owl-responsive-1024 owl-loaded">

                <!-- end item -->

                <!-- end item -->

                <!-- end item -->

                <!-- end item -->
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(-1995px, 0px, 0px); transition: 0.25s; width: 3420px;">
                        <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo3.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo3.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                        <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                            <div class="item">
                                <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-controls">
                    <div class="owl-nav">
                        <div class="owl-prev" style="">prev</div>
                        <div class="owl-next" style="">next</div>
                    </div>
                    <div class="owl-dots" style="">
                        <div class="owl-dot active"><span></span></div>
                    </div>
                </div>
            </div>
            <!-- end logos-carousel -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</section>