{% load static %}
<div class="side-menu"><span class="side-menu-close"><i class="ion-android-close"></i></span>
<h4>Свяжитесь с нами!</h4>

    <form>
        <input type="text" placeholder="Ваше имя">
        <input type="text" placeholder="Контактные данные">
        <input type="text" placeholder="Тема">
        <textarea placeholder="Заявка"></textarea>
        <button type="button">Оставить заявку</button>
    </form>
{#    <ul>#}
{#        <li class="facebook"><a href="#"><i#}
{#                class="ion-social-facebook"></i></a></li>#}
{#        <li class="twitter"><a href="#"><i class="ion-social-twitter"></i></a>#}
{#        </li>#}
{#        <li class="googleplus"><a href="#"><i#}
{#                class="ion-social-googleplus"></i></a></li>#}
{#        <li class="instagram"><a href="#"><i#}
{#                class="ion-social-instagram"></i></a></li>#}
{#        <li class="pinterest"><a href="l#"><i#}
{#                class="ion-social-pinterest"></i></a></li>#}
{#        <li class="youtube"><a href="#"><i class="ion-social-youtube"></i></a>#}
{#        </li>#}
{#    </ul>#}
   </div>