{% load static %}
<section class="quote wow fadeInUp" data-stellar-background-ratio="0.5"
         style="visibility: hidden; animation-name: none; background-position: 0% 0%;">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="content-box">
                <h3>Мы офигительные, прям стопудово</h3>

                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                    magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem
                    ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                <a class = "js__quote__contact_button" href="#">Связаться с нами</a></div>
            <!-- end content-box -->
        </div>
        <!-- end col-12 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
    </section>