{% load static %}
<section class="services wow fadeInUp" style="visibility: hidden; animation-name: none;">
<div class="container">
    <div class="row">
        <div class="col-md-3 no-padding">
            <div class="box yellow-bg">
                <div class="table">
                    <div class="inner"><img src="{% static "DigitalAgency/image/icon1.png" %}" alt="Image">
                        <h4>Интегрированные <br> проекты</h4>

                        <p> Индивидуальные предложения и сложная архитектура продвижения
                        на любом этапе развития бизнеса.</p>
                        <ul class="list1">
                            <li><i class="ion-checkmark-circled"></i> Разработка бизнес-стратегии</li>
                            <li><i class="ion-checkmark-circled"></i> Позиционирование бренда</li>
                            <li><i class="ion-checkmark-circled"></i> Создание онлайн инфраструкты</li>
                            <li><i class="ion-checkmark-circled"></i> Маркетинговая активность проекта</li>
                            <li><i class="ion-checkmark-circled"></i> Сквозная аналитика бизнес-процессов</li>
                            <li></li>
                            <li> Нужны подробности ?</li>
                            <li></li>
                            <li> <a href = "#" class = "services__learn_more js__services__contact_button">Узнайте больше!</a></li>
                        </ul>
                        <span class="expand btn1">EXPAND</span></div>
                    <!-- end inner -->
                </div>
                <!-- end table -->
            </div>
            <!-- end box -->
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 no-padding">
            <div class="box yellow-bg">
                <div class="table">
                    <div class="inner"><img src="{% static "DigitalAgency/image/icon2.png" %}" alt="Image">
                        <h4>AI<br>системы</h4>

                        <p> Внедрение технологий искусственого интеллекта
                            для полной автоматизации бизнеса и вирусного продвижения.</p>
                        <ul class="list2">
                            <li><i class="ion-checkmark-circled"></i> Боты социальных сетей</li>
                            <li><i class="ion-checkmark-circled"></i> Боты мессенджеров</li>
                            <li><i class="ion-checkmark-circled"></i> Автоматизация поиска ЦА</li>
                            <li><i class="ion-checkmark-circled"></i> Сверхузкий parsing</li>
                            <li><i class="ion-checkmark-circled"></i> Самообучающийся AI</li>
                            <li></li>
                            <li> Нужны подробности ?</li>
                            <li></li>
                            <li> <a href = "#" class = "services__learn_more js__services__contact_button">Узнайте больше!</a></li>
                        </ul>
                        <span class="expand btn2">EXPAND</span></div>
                    <!-- end inner -->
                </div>
                <!-- end table -->
            </div>
            <!-- end box -->
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 no-padding">
            <div class="box yellow-bg hui">
                <div class="table">
                    <div class="inner"><img src="{% static "DigitalAgency/image/icon3.png" %}" alt="Image">
                        <h4>Интернет <br> маркетинг</h4>

                        <p> Маркетинговое и аналитическое сопровождение проекта
                            для увеличения объемов лояльной аудитории.
                        </p>
                        <ul class="list3">
                            <li><i class="ion-checkmark-circled"></i> Storytelling</li>
                            <li><i class="ion-checkmark-circled"></i> Email маркетинг</li>
                            <li><i class="ion-checkmark-circled"></i> SEO и контекст</li>
                            <li><i class="ion-checkmark-circled"></i> Вирусный маркетинг</li>
                            <li><i class="ion-checkmark-circled"></i> Сквозная аналитика</li>
                            <li></li>
                            <li> Нужны подробности ?</li>
                            <li></li>
                            <li> <a href = "#" class = "services__learn_more js__services__contact_button">Узнайте больше!</a></li>
                        </ul>
                        <span class="expand btn3">EXPAND</span>
                    </div>
                    <!-- end inner -->
                </div>
                <!-- end table -->
            </div>
            <!-- end box -->
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 no-padding">
            <div class="box yellow-bg">
                <div class="table">
                    <div class="inner"><img src="{% static "DigitalAgency/image/icon4.png" %}" alt="Image">
                        <h4>Бизнес <br> менеджмент</h4>

                        <p>Полное техническое, маркетинговое
                            и аналитическое сопровождение для реализации идей. </p>
                        <ul class="list4">
                            <li><i class="ion-checkmark-circled"></i> Финансовое инвестирование в стартапы</li>
                            <li><i class="ion-checkmark-circled"></i> Техническая реализация бизнес-идеи </li>
                            <li><i class="ion-checkmark-circled"></i> Юридическое сопровождение стартапов</li>
                            <li><i class="ion-checkmark-circled"></i> Реализация маркетиноговой стратегии</li>
                            <li><i class="ion-checkmark-circled"></i> Планирование роста и расширения бизнеса</li>
                            <li></li>
                            <li> Нужны подробности ?</li>
                            <li></li>
                            <li> <a href = "#" class = "services__learn_more js__services__contact_button">Узнайте больше!</a></li>
                        </ul>
                        <span class="expand btn4">EXPAND</span></div>
                    <!-- end inner -->
                </div>
                <!-- end table -->
            </div>
            <!-- end box -->
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</section>