{% load static %}
<section class="services wow fadeInUp" style="visibility: hidden; animation-name: none;">
<div class="container">
    <div class="row">
        <div class="col-md-3 no-padding">
            <div class="box yellow-bg">
                <div class="table">
                    <div class="inner"><img src="{% static "DigitalAgency/image/icon1.png" %}" alt="Image">
                        <h4>BRAND IDENDITY</h4>

                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                            ut molestiae non recusandae. </p>
                        <ul class="list1">
                            <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                            <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                            <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                            <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                            <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                        </ul>
                        <span class="expand btn1">EXPAND</span></div>
                    <!-- end inner -->
                </div>
                <!-- end table -->
            </div>
            <!-- end box -->
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 no-padding">
            <div class="box yellow-bg">
                <div class="table">
                    <div class="inner"><img src="{% static "DigitalAgency/image/icon2.png" %}" alt="Image">
                        <h4>WEB DEVELOPMENT</h4>

                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                            ut molestiae non recusandae. </p>
                        <ul class="list2">
                            <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                            <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                            <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                            <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                            <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                        </ul>
                        <span class="expand btn2">EXPAND</span></div>
                    <!-- end inner -->
                </div>
                <!-- end table -->
            </div>
            <!-- end box -->
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 no-padding">
            <div class="box yellow-bg">
                <div class="table">
                    <div class="inner"><img src="{% static "DigitalAgency/image/icon3.png" %}" alt="Image">
                        <h4>MOBILE APPLICATIONS</h4>

                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                            ut molestiae non recusandae. </p>
                        <ul class="list3">
                            <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                            <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                            <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                            <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                            <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                        </ul>
                        <span class="expand btn3">EXPAND</span></div>
                    <!-- end inner -->
                </div>
                <!-- end table -->
            </div>
            <!-- end box -->
        </div>
        <!-- end col-3 -->
        <div class="col-md-3 no-padding">
            <div class="box yellow-bg">
                <div class="table">
                    <div class="inner"><img src="{% static "DigitalAgency/image/icon4.png" %}" alt="Image">
                        <h4>VIDEO PRODUCTION</h4>

                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                            ut molestiae non recusandae. </p>
                        <ul class="list4">
                            <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                            <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                            <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                            <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                            <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                        </ul>
                        <span class="expand btn4">EXPAND</span></div>
                    <!-- end inner -->
                </div>
                <!-- end table -->
            </div>
            <!-- end box -->
        </div>
        <!-- end col-3 -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</section>