<!-- Счетчик клиентов -->
{% include 'content_blocks/clients_counter.html' %}
<!-- end fun-facts -->
<!--Портфолио-->
{% include 'content_blocks/latest_works_block.html' %}
<!-- end latest works -->
<!-- Карусель клиентов -->
{% include 'content_blocks/our_clients_block.html' %}
<!-- end logos -->
<!-- Последние записи блога -->
{% include 'content_blocks/latest_news.html' %}
<!-- end latest-news -->
<!-- Футер -->
<!-- Какие-то контакты -->
{% include 'content_blocks/contacts_block.html' %}
<!-- end contact -->
{% include 'content_blocks/big_footer.html' %}
<!-- end footer -->
