<!DOCTYPE html>
{% load static %}
<html lang="en" class="-webkit-">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YELLOW | Digital Agency</title>
    <meta name="author" content="Themezinho">
    <meta name="description" content="SREATIVE | Digital Agency HTML Template">
    <meta name="keywords" content="html, template, carousel, theme, themezinho, agency, html5">

    <!-- SOCIAL MEDIA META -->
    <meta property="og:description" content="YELLOW | Digital Agency">
    <meta property="og:image" content="http://www.acrocapoeira.com/sreative/preview.png">
    <meta property="og:site_name" content="SREATIVE">
    <meta property="og:title" content="SREATIVE">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.acrocapoeira.com/sreative">

    <!-- TWITTER META -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@SREATIVE">
    <meta name="twitter:creator" content="@SREATIVE">
    <meta name="twitter:title" content="SREATIVE">
    <meta name="twitter:description" content="SREATIVE | Digital Agency">
    <meta name="twitter:image" content="http://www.acrocapoeira.com/sreative/preview.png">

    <!-- FAVICON FILES -->
    <link href="http://themezinho.net/sreative/ico/apple-touch-icon-144-precomposed.png"
          rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="http://themezinho.net/sreative/ico/apple-touch-icon-114-precomposed.png"
          rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="http://themezinho.net/sreative/ico/apple-touch-icon-72-precomposed.png"
          rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="http://themezinho.net/sreative/ico/apple-touch-icon-57-precomposed.png"
          rel="apple-touch-icon-precomposed">
    <link href="http://themezinho.net/sreative/ico/favicon.png" rel="shortcut icon">

    <!-- CSS FILES -->
    <link href="{% static "DigitalAgency/css/animate.css" %}" rel="stylesheet">
    <link href="{% static "DigitalAgency/css/owl.carousel.css" %}" rel="stylesheet">
    <link href="{% static "DigitalAgency/css/jquery.fancybox.css" %}" media="screen" rel="stylesheet"
          type="text/css">
    <link href="{% static "DigitalAgency/css/settings.css" %}" rel="stylesheet">
    <link href="{% static "DigitalAgency/css/ionicons.css" %}" rel="stylesheet">
    <link href="{% static "DigitalAgency/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "DigitalAgency/css/style.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .layer {
            width: 100%;
            height: 100%;
            position: absolute;
            transform-style: preserve-3d;
            opacity: 0;
            animation: q 5s infinite alternate ease-in-out -7.5s, o 0.1s 1;
            animation-fill-mode: forwards;
            transform: rotateY(40deg) rotateX(33deg) translateZ(0);
        }

        .layer:after {
            font: 150px/0.65 'Pacifico', cursive, Helvetica, sans-serif;
            content: 'Sreative';
            white-space: pre;
            text-align: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 50px;
            color: whitesmoke;
            letter-spacing: -2px;
            text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
        }

        @keyframes q {
            100% {
                transform: rotateY(-40deg) rotateX(-43deg);
            }
        }

        @keyframes o {
            100% {
                opacity: 1;
            }
        }
    </style>
    <!-- Important has to be inline CSS -->
    <style type="text/css">.fancybox-margin {
        margin-right: 0px;
    }</style>
</head>
<body>
<div class="loading yellow-bg">
    <div class="table">
        <div class="inner"><img src="{% static "DigitalAgency/image/logo-light.png" %}" alt="Image">
            <div class="clearfix"></div>
            <div class="spinner"></div>
        </div>
        <!-- end inner -->
    </div>
    <!-- end table -->
</div>
<!-- end loading -->
<div class="transition-overlay yellow-bg"></div>
<!-- end transition-overlay -->
<div class="side-menu"><span class="side-menu-close"><i class="ion-android-close"></i></span>
    <h4>QUICK CONTACT</h4>

    <form>
        <input type="text" placeholder="NAME">
        <input type="text" placeholder="E-MAIL ADDRESS">
        <input type="text" placeholder="SUBJECT">
        <textarea placeholder="YOUR MESSAGE"></textarea>
        <button type="button">SEND MESSAGE</button>
    </form>
    <ul>
        <li class="facebook"><a href="http://themezinho.net/sreative/index-text.html#"><i
                class="ion-social-facebook"></i></a></li>
        <li class="twitter"><a href="http://themezinho.net/sreative/index-text.html#"><i class="ion-social-twitter"></i></a>
        </li>
        <li class="googleplus"><a href="http://themezinho.net/sreative/index-text.html#"><i
                class="ion-social-googleplus"></i></a></li>
        <li class="instagram"><a href="http://themezinho.net/sreative/index-text.html#"><i
                class="ion-social-instagram"></i></a></li>
        <li class="pinterest"><a href="http://themezinho.net/sreative/index-text.html#"><i
                class="ion-social-pinterest"></i></a></li>
        <li class="youtube"><a href="http://themezinho.net/sreative/index-text.html#"><i class="ion-social-youtube"></i></a>
        </li>
    </ul>
</div>
<!-- end side-menu -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle toggle-menu menu-left push-body" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="http://themezinho.net/sreative/index-text.html#"><img
                        src="{% static "DigitalAgency/image/logo-light.png" %}" alt="Image"></a></div>
            <div class="collapse navbar-collapse cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" class="transition">HOME</a></li>
                    <li><a href="/about-us/" class="transition">ABOUT US</a></li>
                    <li><a href="http://themezinho.net/sreative/services.html" class="transition">SERVICES</a></li>
                    <li class="dropdown"><a href="http://themezinho.net/sreative/index-text.html#">WORKS</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://themezinho.net/sreative/works-masonry.html" class="transition">MASONRY
                                GRID</a></li>
                            <li><a href="http://themezinho.net/sreative/works-nonspaced.html" class="transition">NON-SPACED
                                GRID</a></li>
                            <li><a href="http://themezinho.net/sreative/works-spaced.html" class="transition">SPACED
                                GRID</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="http://themezinho.net/sreative/index-text.html#">BLOG</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="http://themezinho.net/sreative/blog.html" class="transition">WITH SIDEBAR</a>
                            </li>
                            <li><a href="http://themezinho.net/sreative/blog-no-sidebar.html" class="transition">WITHOUT
                                SIDEBAR</a></li>
                        </ul>
                    </li>
                    <li><a href="/contacts" class="transition">CONTACT</a></li>
                    <li><a href="#" class="hamburger-menu"><i class="ion-navicon"></i></a></li>
                </ul>
            </div>
            <!-- end navbar-collapse -->
        </div>
        <!-- end container -->
    </nav>
    <!-- end nav -->
    <div class="stage">
        <!-- СЮДА НАДО ВХУЯРИТЬ КЛЕВУЮ АНИМАШКУ --!>
        <!-- end slide-content -->
    </div>
    <!-- end stage -->
</header>
<!-- end header -->
<section class="about-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 left-side" data-stellar-background-ratio="0.5"
                 style="background-position: 0% 0%;"></div>
            <!-- end col-6 -->
            <div class="col-md-6 right-side">
                <div class="table wow fadeInUp" style="visibility: hidden; animation-name: none;">
                    <div class="inner">
                        <h3>ABOUT <span>SREATIVE</span></h3>

                        <p>Interactive digital experiences are continually becoming more amazing and more complex to
                            produce. Our team is specially designed to create successful, custom, innovative digital
                            products from the initial concept through full product launch.</p>

                        <p>Strategists, researchers, product managers, UX/UI designers, technologists, web and mobile
                            developers all working together, dedicated to your brand and your product. Talk To Our
                            Team.</p>
                        <a href="http://themezinho.net/sreative/index-text.html#">READ MORE</a></div>
                    <!-- end inner -->
                </div>
                <!-- end table -->
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end about-us -->
<section class="services wow fadeInUp" style="visibility: hidden; animation-name: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="{% static "DigitalAgency/image/icon1.png" %}" alt="Image">
                            <h4>BRAND IDENDITY</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list1">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn1">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="{% static "DigitalAgency/image/icon2.png" %}" alt="Image">
                            <h4>WEB DEVELOPMENT</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list2">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn2">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="{% static "DigitalAgency/image/icon3.png" %}" alt="Image">
                            <h4>MOBILE APPLICATIONS</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list3">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn3">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="{% static "DigitalAgency/image/icon4.png" %}" alt="Image">
                            <h4>VIDEO PRODUCTION</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list4">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn4">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end services -->
<section class="fun-facts wow fadeInUp" style="visibility: hidden; animation-name: none;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="content-box"><i class="ion-ios-albums-outline"></i> <span class="counter">358</span>
                    <h5>.projects completed</h5>
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3">
                <div class="content-box"><i class="ion-ios-pulse"></i> <span class="counter">269</span>
                    <h5>.concept created</h5>
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3">
                <div class="content-box"><i class="ion-ios-monitor-outline"></i> <span class="counter">157</span>
                    <h5>.happy clients</h5>
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3">
                <div class="content-box"><i class="ion-ios-flask-outline"></i> <span class="counter">23</span>
                    <h5>.awards winning</h5>
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end fun-facts -->
<section class="latest-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <h3>LATEST <span>WORKS</span></h3>

                <div class="works-filter"><a href="http://themezinho.net/sreative/index-text.html#" data-filter="*"
                                             class="current">ALL<span></span></a> <a
                        href="http://themezinho.net/sreative/index-text.html#" data-filter=".branding">BRANDING
                    PRINT</a> <a href="http://themezinho.net/sreative/index-text.html#" data-filter=".digital">DIGITAL
                    PRODUCTS</a> <a href="http://themezinho.net/sreative/index-text.html#" data-filter=".video">VIDEO
                    ANIMATIONS</a></div>
                <!-- end works-filter -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
    <ul class="wow fadeInUp" style="position: relative; height: 455.594px; visibility: hidden; animation-name: none;">
        <li class="video" style="position: absolute; left: 0px; top: 0px;">
            <figure><img src="{% static "DigitalAgency/image/work1.jpg" %}" alt="Image">
                <figcaption>
                    <div class="table">
                        <div class="inner">
                            <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">MARINE
                                HABOUR</a></h4>
                            <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <!-- end work -->
        <li class="digital" style="position: absolute; left: 404px; top: 0px;">
            <figure><img src="{% static "DigitalAgency/image/work2.jpg" %}" alt="Image">
                <figcaption>
                    <div class="table">
                        <div class="inner">
                            <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">CUBE
                                CITY</a></h4>
                            <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <!-- end work -->
        <li class="branding" style="position: absolute; left: 809px; top: 0px;">
            <figure><img src="{% static "DigitalAgency/image/work3.jpg" %}" alt="Image">
                <figcaption>
                    <div class="table">
                        <div class="inner">
                            <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">WORLD
                                CAKE</a></h4>
                            <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <!-- end work -->
        <li class="digial branding video" style="position: absolute; left: 0px; top: 227px;">
            <figure><img src="{% static "DigitalAgency/image/work4.jpg" %}" alt="Image">
                <figcaption>
                    <div class="table">
                        <div class="inner">
                            <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">PAINT
                                BRUSH</a></h4>
                            <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <!-- end work -->
        <li class="video" style="position: absolute; left: 404px; top: 227px;">
            <figure><img src="{% static "DigitalAgency/image/work5.jpg" %}" alt="Image">
                <figcaption>
                    <div class="table">
                        <div class="inner">
                            <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">YUMMMY</a>
                            </h4>
                            <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <!-- end work -->
        <li class="branding digital" style="position: absolute; left: 809px; top: 227px;">
            <figure><img src="{% static "DigitalAgency/image/work6.jpg" %}" alt="Image">
                <figcaption>
                    <div class="table">
                        <div class="inner">
                            <h4><a href="{% static "DigitalAgency/image/work1.jpg" %}" class="fancybox">GOAL
                                LEGO</a></h4>
                            <small>BRANDING, IDENDITY, PHOTOGRAPHY</small>
                        </div>
                    </div>
                </figcaption>
            </figure>
        </li>
        <!-- end work -->
    </ul>
</section>
<!-- end latest works -->
<section class="logos wow fadeInUp" style="visibility: hidden; animation-name: none;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>LOGOS</h2>

                <div class="logos-carousel owl-carousel owl-theme owl-responsive-1024 owl-loaded">

                    <!-- end item -->

                    <!-- end item -->

                    <!-- end item -->

                    <!-- end item -->
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(-1995px, 0px, 0px); transition: 0.25s; width: 3420px;">
                            <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo3.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item active" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item cloned active" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item cloned active" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item cloned active" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo3.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                            <div class="owl-item cloned" style="width: 285px; margin-right: 0px;">
                                <div class="item">
                                    <figure><img src="{% static "DigitalAgency/image/logo1.jpg" %}" alt="Image">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-controls">
                        <div class="owl-nav">
                            <div class="owl-prev" style="">prev</div>
                            <div class="owl-next" style="">next</div>
                        </div>
                        <div class="owl-dots" style="">
                            <div class="owl-dot active"><span></span></div>
                        </div>
                    </div>
                </div>
                <!-- end logos-carousel -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end logos -->
<section class="latest-news wow fadeInUp" style="visibility: hidden; animation-name: none;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>LATEST <span>NEWS</span></h3>
            </div>
            <!-- end col-12 -->
            <div class="col-md-6">
                <div class="news-box">
                    <figure><img src="{% static "DigitalAgency/image/image2.jpg" %}" alt="Image"></figure>
                    <h4>How to Choose the Right Digital Camera for You!</h4>
                    <small>Photography, Design, Tutorials</small>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem
                        ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                    <a href="http://themezinho.net/sreative/index-text.html#" class="link">READ MORE</a></div>
                <!-- end news-box -->
            </div>
            <!-- end col-6 -->
            <div class="col-md-6">
                <div class="news-box">
                    <figure><img src="{% static "DigitalAgency/image/image3.jpg" %}" alt="Image"></figure>
                    <h4>How to Choose the Right Digital Camera for You!</h4>
                    <small>Photography, Design, Tutorials</small>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem
                        ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                    <a href="http://themezinho.net/sreative/index-text.html#" class="link">READ MORE</a></div>
                <!-- end news-box -->
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end latest-news -->
<section class="quote wow fadeInUp" data-stellar-background-ratio="0.5"
         style="visibility: hidden; animation-name: none; background-position: 0% 0%;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="content-box">
                    <h3>DO YOU LIKE WHAT YOU SEE ?</h3>

                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem
                        ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                    <a href="http://themezinho.net/sreative/index-text.html#">LEARN MORE</a></div>
                <!-- end content-box -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end quote -->
<section class="contact">
    <div class="container wow fadeInUp" style="visibility: hidden; animation-name: none;">
        <div class="row">
            <div class="col-xs-12">
                <h2>CONTACT</h2>
            </div>
            <!-- end col-12 -->
            <div class="col-md-3">
                <figure><img src="{% static "DigitalAgency/image/icon5.png" %}" alt="Image"></figure>
                <dl>
                    <dt>LOCATION</dt>
                    <dd>Ring Central Plot C: 796 A/3 Mango Avenue, Chicago</dd>
                </dl>
            </div>
            <!-- end col-3 -->
            <div class="col-md-3">
                <figure><img src="{% static "DigitalAgency/image/icon6.png" %}" alt="Image"></figure>
                <dl>
                    <dt>PHONE</dt>
                    <dd>+1 (312)/ 564-0034</dd>
                    <dd>+1 (312)/ 988-5738</dd>
                </dl>
            </div>
            <!-- end col-3 -->
            <div class="col-md-3">
                <figure><img src="{% static "DigitalAgency/image/icon7.png" %}" alt="Image"></figure>
                <dl>
                    <dt>E-MAIL</dt>
                    <dd>support [at] sreative.com</dd>
                    <dd>sales@ [at] sreative.com</dd>
                </dl>
            </div>
            <!-- end col-3 -->
            <div class="col-md-3">
                <figure><img src="{% static "DigitalAgency/image/icon8.png" %}" alt="Image"></figure>
                <dl>
                    <dt>Working hours</dt>
                    <dd>Mon-Fri 9.00am - 4.00p
                    </dd>
                    <dd>Sat 12.00 - 5.00pm</dd>
                </dl>
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end contact -->
<footer>
    <div class="container wow fadeInUp" style="visibility: hidden; animation-name: none;">
        <div class="row">
            <div class="col-md-4"><img src="{% static "DigitalAgency/image/logo-light.png" %}" alt="Image"
                                       class="logo">

                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                    consequuntur.</p>

                <p>Magni dolores eos qui ratione voluptatem seqi nesciunt. Neque poro quisquam est, qui dolorem ipsum
                    quia.</p>
            </div>
            <!-- end col-4 -->
            <div class="col-md-4">
                <h4>PHOTO GALLERY</h4>
                <ul class="gallery">
                    <li>
                        <figure><img src="{% static "DigitalAgency/image/gallery1.jpg" %}" alt="Image">
                            <figcaption><a href="{% static "DigitalAgency/image/gallery1.jpg" %}"
                                           class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="{% static "DigitalAgency/image/gallery2.jpg" %}" alt="Image">
                            <figcaption><a href="{% static "DigitalAgency/image/gallery2.jpg" %}"
                                           class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="{% static "DigitalAgency/image/gallery3.jpg" %}" alt="Image">
                            <figcaption><a href="{% static "DigitalAgency/image/gallery3.jpg" %}"
                                           class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="{% static "DigitalAgency/image/gallery4.jpg" %}" alt="Image">
                            <figcaption><a href="{% static "DigitalAgency/image/gallery4.jpg" %}"
                                           class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="{% static "DigitalAgency/image/gallery5.jpg" %}" alt="Image">
                            <figcaption><a href="{% static "DigitalAgency/image/gallery5.jpg" %}"
                                           class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure><img src="{% static "DigitalAgency/image/gallery6.jpg" %}" alt="Image">
                            <figcaption><a href="{% static "DigitalAgency/image/gallery6.jpg" %}"
                                           class="fancybox"><i class="ion-android-expand"></i></a></figcaption>
                        </figure>
                    </li>
                </ul>
                <!-- end gallery -->
            </div>
            <!-- end col-4 -->
            <div class="col-md-4">
                <h4>NEWSLETTER</h4>

                <p>You will be among the first to know about hot new software and great deals on stuff to enhance and
                    promote</p>

                <form>
                    <input type="text" placeholder="Your e-mail">
                    <button type="submit">SUBSCRIBE</button>
                </form>
                <small>* I promise, we won’t spam you!</small>
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->
<section class="sub-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h6>Copyright © 2015 , SREATIVE | Digital Agency</h6>
            </div>
            <!-- end col-6 -->
            <div class="col-md-6">
                <h6 class="pull-right">Created by Themezinho with <i class="ion-heart"></i> in Istanbul</h6>
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end sub-footer -->

<!-- JS FILES -->
<script src="{% static "DigitalAgency/js/jquery.min.js" %}"></script>
<script src="{% static "DigitalAgency/js/bootstrap.min.js" %}"></script>
<script type="text/javascript">
    (function ($) {
        $(window).load(function () {
            $(".loading .table .inner").addClass("fade");
            $('.loading').delay(2000).addClass("fade-out");
        });
    })(jQuery)
</script>
<script src="{% static "DigitalAgency/js/prefixfree.min.js" %}"></script>
<script src="{% static "DigitalAgency/js/waypoints.min.js" %}"></script>
<script src="{% static "DigitalAgency/js/jquery.counterup.min.js" %}"></script>
<script src="{% static "DigitalAgency/js/isotope.min.js" %}"></script>
<script src="{% static "DigitalAgency/js/masonry.js" %}"></script>
<script src="{% static "DigitalAgency/js/wow.js" %}"></script>
<script src="{% static "DigitalAgency/js/owl.carousel.js" %}"></script>
<script src="{% static "DigitalAgency/js/jquery.stellar.js" %}"></script>
<script src="{% static "DigitalAgency/js/jquery.fancybox.js" %}" type="text/javascript"></script>
<script src="{% static "DigitalAgency/js/jquery.themepunch.tools.min.js" %}" type="text/javascript"></script>
<script src="{% static "DigitalAgency/js/jquery.themepunch.revolution.min.js" %}"
        type="text/javascript"></script>
<script src="{% static "DigitalAgency/js/settings.js" %}" type="text/javascript"></script>
<script src="{% static "DigitalAgency/js/scripts.js" %}" type="text/javascript"></script>

</body>
</html>