<!DOCTYPE html>
<html lang="en" class="">
<head>
    {% include 'content_blocks/header_links.html' %}
    <style type="text/css">.fancybox-margin {
        margin-right: 0px;
    }</style>
</head>
<body>
<div class="loading yellow-bg fade-out">
    <div class="table">
        <div class="inner fade"><img src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/logo-light.png" alt="Image">

            <div class="clearfix"></div>
            <div class="spinner"></div>
        </div>
        <!-- end inner -->
    </div>
    <!-- end table -->
</div>
<!-- end loading -->
<div class="transition-overlay yellow-bg"></div>
<!-- end transition-overlay -->
<div class="side-menu"><span class="side-menu-close"><i class="ion-android-close"></i></span>
    {% include 'content_blocks/quick_contact.html' %}
</div>
<header class="yellow-bg int-header">
    {% include 'content_blocks/header.html' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="title">SERVICES</h2>
                <h5 class="sub-title">Digital experiences are continually</h5>
            </div>
        </div>
    </div>
</header>
<section class="services">
    <div class="container">
        <div class="row wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/icon1.png" alt="Image">
                            <h4>BRAND IDENDITY</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list1">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn1">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/icon2.png" alt="Image">
                            <h4>WEB DEVELOPMENT</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list2">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn2">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/icon3.png" alt="Image">
                            <h4>MOBILE APPLICATIONS</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list3">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn3">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/icon4.png" alt="Image">
                            <h4>VIDEO PRODUCTION</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list4">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn4">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
        <div class="row wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/icon9.png" alt="Image">
                            <h4>GRAPHIC DESIGN</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list5">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn5">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/icon10.png" alt="Image">
                            <h4>CMS MANAGEMENT</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list6">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn6">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/icon11.png" alt="Image">
                            <h4>RESPONSIVE DESIGN</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list7">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn7">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12 no-padding">
                <div class="box yellow-bg">
                    <div class="table">
                        <div class="inner"><img src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/icon12.png" alt="Image">
                            <h4>PHOTOGRAPHY</h4>

                            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet
                                ut molestiae non recusandae. </p>
                            <ul class="list8">
                                <li><i class="ion-checkmark-circled"></i> High-end Unique Web Designs</li>
                                <li><i class="ion-checkmark-circled"></i> PHP and JavaScript Applications</li>
                                <li><i class="ion-checkmark-circled"></i> Custom E-Commerce Solutions</li>
                                <li><i class="ion-checkmark-circled"></i> WordPress Development</li>
                                <li><i class="ion-checkmark-circled"></i> Joomla! Programming</li>
                            </ul>
                            <span class="expand btn8">EXPAND</span></div>
                        <!-- end inner -->
                    </div>
                    <!-- end table -->
                </div>
                <!-- end box -->
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end services -->
<section class="quote" data-stellar-background-ratio="0.5" style="background-position: 0% 0%;">
    {% include 'content_blocks/quote.html' %}
</section>
<!-- end quote -->
<section class="contact">
    {% include 'content_blocks/contacts_block.html' %}
</section>
<!-- end contact -->
<footer>
    {% include 'content_blocks/big_footer.html' %}
</footer>
<!-- end footer -->
<section class="sub-footer">
    {% include 'content_blocks/small_footer.html' %}
</section>
<!-- end sub-footer -->

<!-- JS FILES -->
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/jquery.min.js"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/bootstrap.min.js"></script>
<script type="text/javascript">
    (function ($) {
        $(window).load(function () {
            $(".loading .table .inner").addClass("fade");
            $('.loading').delay(2000).addClass("fade-out");
        });
    })(jQuery)
</script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/waypoints.min.js"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/jquery.counterup.min.js"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/isotope.min.js"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/masonry.js"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/wow.js"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/owl.carousel.js"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/jquery.stellar.js"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/jquery.fancybox.js" type="text/javascript"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/jquery.themepunch.tools.min.js" type="text/javascript"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/settings.js" type="text/javascript"></script>
<script src="../DigitalAgency/static/DigitalAgency/SREATIVE _ Digital Agency2_files/scripts.js" type="text/javascript"></script>

</body>
</html>